<template>
  <a href='#' class="burger" @click="changeMenuText">
    <p class="burger__text">{{menuText}}</p>
    <div class="burger__canvas-wrapper">
    </div>
  </a>
</template>

<script>

  import Menu from '~/assets/js/Menu.js'

    export default {
        name: "Burger",
        data(){
          return {
            menuText: 'menu',
            isOpen: true,
            menuEx: null
          }
        },
        mounted() {
          this.menuEx = new Menu('.burger__canvas-wrapper', {
            parentContainer: '.burger'
          })
        },
      beforeDestroy() {
        this.menuEx.removeEventListeners();
        this.menuEx = null;
      },
        methods: {
          changeMenuText: function () {
            if ( this.isOpen ) {
              this.menuText = 'close'

            } else {
              this.menuText = 'menu'
              // this.menuEx.close()
            }
            this.isOpen = !this.isOpen
          }
        },
      watch: {
        $route() {
          this.menuEx.close()
        }
      }
    }
</script>

<style lang="sass">
  .burger
    text-decoration: none
    display: flex
    align-items: center
    &__text
      color: #fff
    &__canvas-wrapper
      position: relative
      margin-left: 20px
      width: 45px
      height: 54px
</style>
