<template>
  <div class="nav">
    <div class="container">
      <div class="nav__top">
        <div class="nav__left">
          <nuxt-link :to="global.nav.topTitle.to">
            <span :data-hover="global.nav.topTitle.text">
              {{global.nav.topTitle.text}}
            </span>
          </nuxt-link>
          <div class="nav__list-wrapper">
            <ul>
              <li v-for="(li, id) in global.nav.operatorsProducts" :key="id">
                <nuxt-link :to="li.to">
                  <span :data-hover="li.text">
                    {{li.text}}
                  </span>
                </nuxt-link>
              </li>
            </ul>
            <ul>
              <li v-for="(li, id) in global.nav.contactCenterProducts" :key="id">
                <nuxt-link :to="li.to">
                  <span :data-hover="li.text">
                    {{li.text}}
                  </span>
                </nuxt-link>
              </li>
            </ul>
            <ul>
              <li v-for="(li, id) in global.nav.cloudProducts" :key="id">
                <nuxt-link :to="li.to">
                  <span :data-hover="li.text">
                    {{li.text}}
                  </span>
                </nuxt-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="nav__right">
          <ul>
            <li v-for="(li, id) in global.nav.services" :key="id">
              <nuxt-link :to="li.to">
                <span :data-hover="li.text">
                  {{li.text}}
                </span>
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav__bottom">
        <ul>
          <li v-for="(li, id) in global.nav.mainLinks" :key="id">
            <nuxt-link :to="li.to">
              <span :data-hover="li.text">
                {{li.text}}
              </span>
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "Nav",
        computed: {
          global() {
            return this.$store.state.globalData.globalData__header
          }
        }
    }
</script>

<style lang="sass">

  @import '~assets/sass/partials/_sass-for-components'
  @keyframes fadeDown
    0%
      opacity: 1
    100%
      opacity: 0
  @keyframes fadeUp
    0%
      transform: translateY(80px)
      opacity: 0
    100%
      transform: translateY(0)
      opacity: 1
  .nav
    position: absolute
    left: 0
    top: 0
    z-index: 98
    width: 100%
    height: 100vh
    background: rgb(101,66,152)
    background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
    background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
    background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654298', endColorstr='#e12267',GradientType=1 )
    transition: .5s
    transform: translateX(100%)
    transform-origin: right
    max-width: 100%
    li
      opacity: 0
      animation: fadeDown 0.5s ease
      animation-fill-mode: forwards
    .container
      padding-top: 210px
      +res('desk')
        padding-top: 165px
      +res('mob')
        padding-top: 125px
    &__top
      display: flex
      margin-bottom: 80px
      +res('desk')
        margin-bottom: 40px
      +res('tab')
        flex-wrap: wrap
      +res('mob')
        flex-direction: column
        margin: 0
    &__left
      width: 870px
      +res('mob')
        max-width: 100%
      & > a
        opacity: 0
        animation: fadeDown 0.5s ease
        animation-fill-mode: forwards
        display: block
        color: #fff
        font-size: 30px
        line-height: 50px
        text-decoration: none
        padding-bottom: 10px
        transition: .5s
        overflow: hidden
        position: relative
        &:after
          content: ''
          position: absolute
          bottom: 0
          width: 100%
          height: 1px
          background-color: #fff
          left: 0
        span
          position: relative
          transition: .3s
          display: inline-block
          &:before
            position: absolute
            top: 100%
            content: attr(data-hover)
            font-weight: 700
            transform: translate3d(0,0,0)
        +res('desk-min')
          &:hover
            span
              transform: translateY(-100%)
        +res('tab')
          font-size: 26px
          line-height: 32px
        +res('mob')
          display: block
          font-size: 22px
          line-height: 35px
          border-bottom: none
          padding-bottom: 0
    &__list-wrapper
      display: flex
      justify-content: space-between
      padding-top: 30px
      +res('tab')
        padding-top: 15px
      +res('mob')
        flex-direction: column
        display: none
      ul
        min-width: 290px
        padding-right: 60px
        +res('tab')
          padding-right: 25px
          min-width: 215px
        +res('mob')
          &:last-of-type
            li
              display: none
      li:nth-of-type(1)
        font-size: 22px
        line-height: 38px
        color: #fff
        margin-bottom: 30px
        min-height: 38px
        +res('tab')
          font-size: 18px
          margin-bottom: 15px
        +res('mob')
          margin: 0
      li:not(:nth-of-type(1))
        +res('mob')
          display: none
      li
        font-size: 13px
        font-family: $roboto
        line-height: 20px
        margin-bottom: 15px
        +res('tab')
          margin-bottom: 10px
        a
          color: #fff
          text-decoration: none
          transition: .5s
          overflow: hidden
          position: relative
          display: block
          span
            position: relative
            transition: .3s
            display: inline-block
            &:before
              position: absolute
              display: inline-block
              top: 100%
              content: attr(data-hover)
              transform: translate3d(0,0,0)
          +res('desk-min')
            &:hover
              span
                transform: translateY(-100%)
          +res('mob')
            font-size: 22px

    &__right
      padding-left: 60px
      +res('tab')
        padding-left: 0
      +res('mob')
        padding-left: 0
      li:nth-of-type(1)
        font-size: 30px
        line-height: 50px
        color: #fff
        margin-bottom: 10px
        +res('tab')
          font-size: 26px
          line-height: 32px
        +res('mob')
          font-size: 22px
          line-height: 35px
          margin: 0
      li:not(:nth-of-type(1))
        +res('mob')
          display: none
      li
        a
          color: #fff
          text-decoration: none
          font-size: 22px
          line-height: 24px
          margin: 15px 0
          transition: .3s
          overflow: hidden
          position: relative
          display: block
          span
            position: relative
            transition: .3s
            display: inline-block
            &:before
              position: absolute
              display: inline-block
              top: 100%
              content: attr(data-hover)
              transform: translate3d(0,0,0)
          +res('desk-min')
            &:hover
              span
                transform: translateY(-100%)
          +res('tab')
            font-size: 18px
            line-height: 30px
          +res('mob')
            line-height: 35px
    &__bottom
      ul
        width: 100%
        display: flex
        justify-content: space-between
        +res('mob')
          flex-direction: column
          width: 100%
          justify-content: flex-start
        li
          font-size: 30px
          line-height: 60px
          +res('mob')
            font-size: 22px
            line-height: 35px
          a
            text-decoration: none
            color: #fff
            transition: .3s
            display: block
            overflow: hidden
            position: relative
            line-height: 34px
            span
              position: relative
              transition: .3s
              display: inline-block
              &:before
                position: absolute
                display: inline-block
                top: 100%
                content: attr(data-hover)
                transform: translate3d(0,0,0)
            +res('desk-min')
              &:hover
                span
                  transform: translateY(-100%)
          +res('tab')
            font-size: 26px
            line-height: 50px
    &.nav-open
      transform: translateX(0)
      transform-origin: right
      .nav__left > a
        animation: fadeUp 0.5s ease
        animation-fill-mode: forwards
        animation-delay: 0.5s
      li
        animation: fadeUp 0.5s ease
        animation-fill-mode: forwards
        animation-delay: 0.7s
</style>
