<template>
  <header class="header" v-if="global.logoLink" :class="aditionalClass">
    <div class="container">
      <nuxt-link :to=global.logoLink>
        <LogoMain/>
        <LogoSimple class="logo-simple"/>
      </nuxt-link>
      <Burger/>
    </div>
    <Nav/>
  </header>


</template>

<script>
  import LogoMain from '~/assets/svg/logo-color.svg';
  import LogoSimple from '~/assets/svg/header_logo_simple.svg';
  import Burger from '~/components/Header/Burger';
  import Nav from '~/components/Header/Nav';
  import Vue from 'vue';

  // helpers
  import {throttle, Resp} from '~/plugins/_helpers';

  export default {
    name: 'TheHeader',
    props: {
      aditionalClass: String
    },
    components: {
      LogoMain,
      LogoSimple,
      Burger,
      Nav
    },
    data() {
      return {
        lastScrollTop: 0,
        nav: null,
        initedWithThrottle: null
      }
    },
    mounted() {
      this.initedWithThrottle = throttle(this.toggleHeaderOnScroll, 50);
      window.addEventListener('scroll', this.initedWithThrottle, true);
    },
    methods: {
      toggleHeaderOnScroll() {
        let header = this.$el,
          headerHeight = header.clientHeight,
          hideHeight = Resp.isMobile ? 100 : 350;

        let scrollTop = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop);

        // if ( this.nav.classList.contains('nav-open') ) return;

        if (scrollTop > this.lastScrollTop && scrollTop > headerHeight) {
          header.classList.add('header_hide');
        }
        else if (scrollTop + window.innerHeight < document.documentElement.scrollHeight) {
          header.classList.remove('header_hide');
        }

        this.lastScrollTop = scrollTop;
      }
    },
    computed: {
      global() {
        return this.$store.state.globalData.globalData__header
      }
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.initedWithThrottle, true);
    }
  }
</script>
<style lang='sass'>

  @import '~assets/sass/partials/_sass-for-components.sass'
  @keyframes fadeInDown
    0%
      opacity: 0
    100%
      opacity: 1

  .header
    position: fixed
    z-index: 99
    width: 100%
    transition: transform .5s, background-color .3s
    opacity: 0
    animation: fadeInDown 0.5s ease
    animation-delay: 0.5s
    animation-fill-mode: forwards
    padding-top: 10px
    &.header_hide
      transform: translateY(-100%)
    & > .container
      height: 150px
      display: flex
      justify-content: space-between
      align-items: center
      z-index: 99
      transition: height .3s
      +res('mob')
        height: 110px
    svg:nth-of-type(1)
      height: 140px
      width: 90px
      fill: #fff
      transition: .3s
      +res('mob')
        height: 90px
    .logo-simple
      width: 85px
      height: 26px
      top: 25px
      left: 0
      position: absolute
      opacity: 0
      transition: .3s
      fill: green
      +res('tab')
        left: 15px
      +res('mob')
        left: 10px
        top: 25px
    svg:nth-of-type(1)
      height: 140px
      width: 90px
      fill: #fff
      transition: .3s
      +res('mob')
        height: 90px
    &.sub
      .burger__text
        color: #171617
      .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7
        fill: #ea2066 !important
    &.sub.active
      padding-top: 0
      background-color: rgba(255,255,255,0.7)
      & > .container
        height: 80px
      svg:nth-of-type(1)
        opacity: 0
      .logo-simple
        opacity: 1
    &.active
      padding-top: 0
      background-color: rgba(255,255,255,0.7)
      & > .container
        height: 80px
      .burger__text
        color: #171617
      svg:nth-of-type(1)
        opacity: 0
      .logo-simple
        opacity: 1

</style>
