<template>
  <div class="services-item js-service-btn" :class=btnClass>
    <div class="container-half">
      <div class="content-wrapper">
        <div class="btn-service js-operators-link"></div>
        <p class="subtitle">
          {{subtitle}}
        </p>
        <p class="title">
          {{title}}
        </p>
        <p class="desc uikit__p">
          {{desc}}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseIntersectionObserver from "../../BaseComponents/BaseIntersectionObserver";

  export default {
    name: "InnerBlock",
    components: {BaseIntersectionObserver},
    props: {
      btnClass: String,
      subtitle: String,
      title: String,
      desc: String
    }
  }
</script>

<style lang="sass">

  @import '~/assets/sass/partials/_sass-for-components.sass'

  .services-item
    width: 50%
    min-height: 100vh
    position: relative
    color: #fff
    text-decoration: none
    z-index: 1
    cursor: pointer
    +res('tab')
      min-height: 80vh
    +res('mob')
      width: 100%
      min-height: 60vh
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, 0.42)
      transition: .5s
      z-index: -1
    &:nth-of-type(1)
      //.container-half
      //    //float: right
      //    +res('mob')
      //        float: none
      +res('mob')
        padding-top: 100px
    +res('desk-min')
      &:hover
        .content-wrapper
          //max-height: 400px
          transform: translateY(0)
          .desc
            transform: scaleY(1)
        &:before
          opacity: 0.8
    .container-half
      display: flex
      flex-direction: column
      justify-content: flex-end
      padding-bottom: 75px
    .content-wrapper
      padding-left: 65px
      max-height: 400px
      transition: .5s
      overflow: hidden
      transform: translateY(100px)
      +res('tab')
        transform: translateY(0)
      +res('mob')
        padding-left: 10px
        transform: translateY(0)
      .btn-service
        width: 85px
        height: 55px
        margin-bottom: 40px
      .subtitle
        font-size: 22px
        line-height: 32px
        margin-bottom: 25px
        +res('mob')
          font-size: 18px
      .title
        font-size: 32px
        line-height: 32px
        max-width: 225px
        margin-bottom: 35px
        +res('mob')
          font-size: 24px
          max-width: 100%
          margin-bottom: 20px
      .desc
        font-size: 13px
        max-width: 230px
        line-height: 20px
        transition: .5s
        transform-origin: bottom
        transform: scaleY(0)
        +res('tab')
          transform: scaleY(1)
        +res('mob')
          transform: scaleY(1)
</style>
