<template>
  <div class="popup-inner" :class="blockClass">
    <p class="top-title">
      {{content.topTitle}}
    </p>
    <p class="title">
      {{content.title}}
    </p>
    <p class="text">
      {{content.text}}
    </p>
    <div class="bottom">
      <div class="wrapper" v-for="(item, id) in items" :key="id">
        <p>
          {{item.top}}
        </p>
        <p>
          {{item.bottom}}
        </p>
      </div>
    </div>
    <BaseBtnBig
    class="more-btn"
    :elemClass="linkClass"
    :linkTo="content.moreBtn"
    :innerText="content.moreBtnText"
    color="#ea2066"
    fontColor="#fff"/>
    <div class="close-btn">
      <Cross />
    </div>
  </div>
</template>

<script>
    import Cross from '~/assets/svg/cross.svg';
    export default {
      name: "PopupServices",
      components: {
        Cross
      },
      props: {
        isActive: Boolean,
        blockClass: String,
        content: Object,
        items: Array,
        linkClass: String
      }
    }
</script>

<style lang="sass">

  @import '~/assets/sass/partials/_sass-for-components.sass'

  .popup-services
    position: absolute
    top: 0
    left: 0
    width: 100%
    min-height: 100%
    z-index: 2
    transform: translateY(100%)
    transition: 0.5s
    background-color: rgba(0,0,0,0.4)
    +res('mob')
      transform: scaleY(0)
      transform-origin: bottom
    .content
      width: 100%
      min-height: 100vh
      overflow: hidden
      position: relative
      +res('tab')
        min-height: 80vh
      +res('mob')
        overflow: visible
        min-height: 120vh
    &.active
      transform: translateY(0)
      +res('mob')
        transform: scaleY(1)
        transform-origin: bottom
    .left
      position: absolute
      left: -60px
      width: 60px
      top: 0
      min-height: 100%
      color: #fff
      text-decoration: none
      opacity: 0
      visibility: hidden
      transition: .3s
      +res('desk')
        left: 0
      +res('mob')
        display: none
      &.active
        opacity: 1
        visibility: visible
      span
        position: absolute
        transform: rotate(-90deg)
        transform-origin: 50% 50%
        top: 50px
        width: 150px
        right: 20px
      &:before
        content: ''
        width: 50vw
        right: 100%
        min-height: 100%
        position: absolute
        top: 0
        background: rgb(97,67,153)
        background: -moz-linear-gradient(top, rgba(97,67,153,1) 0%, rgba(229,33,101,1) 100%)
        background: -webkit-linear-gradient(top, rgba(97,67,153,1) 0%,rgba(229,33,101,1) 100%)
        background: linear-gradient(to bottom, rgba(97,67,153,1) 0%,rgba(229,33,101,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614399', endColorstr='#e52165',GradientType=0 )
        +res('desk')
          right: calc(100% + 15px)
    .right
      position: absolute
      right: -60px
      width: 60px
      top: 0
      min-height: 100%
      color: #fff
      text-decoration: none
      opacity: 0
      visibility: hidden
      transition: .3s
      +res('desk')
        right: 0
      +res('mob')
        display: none
      &.active
        opacity: 1
        visibility: visible
      span
        position: absolute
        transform: rotate(90deg)
        transform-origin: 50% 50%
        top: 105px
        width: 150px
        left: 20px
      &:before
        content: ''
        width: 50vw
        left: 100%
        min-height: 100%
        position: absolute
        top: 0
        background: rgb(97,67,153)
        background: -moz-linear-gradient(top, rgba(97,67,153,1) 0%, rgba(229,33,101,1) 100%)
        background: -webkit-linear-gradient(top, rgba(97,67,153,1) 0%,rgba(229,33,101,1) 100%)
        background: linear-gradient(to bottom, rgba(97,67,153,1) 0%,rgba(229,33,101,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614399', endColorstr='#e52165',GradientType=0 )
    .more-btn
      display: block
      margin-top: 35px
      width: 230px
      height: 80px
      +res('mob')
        margin-top: 10px
    .popup-inner
      position: absolute
      top: 50%
      left: 0
      width: 100%
      height: auto
      transform: translateY(50%)
      transition: 0.5s
      opacity: 0
      &.active

        //transition-delay: 0.5s
        transform: translateY(-50%)
        opacity: 1
        +res('mob')
          transform: none
      +res('mob')
        top: 0
        transform: none
        padding-top: 50px
    .container
      min-height: 100vh
      +res('tab')
        min-height: 80vh
      +res('mob')
        min-height: 120vh
      .top-title
        color: #fff
        font-size: 22px
        line-height: 32px
        margin-bottom: 20px
      .title
        font-size: 32px
        line-height: 32px
        color: #fff
        margin-bottom: 35px
      .text
        font-size: 13px
        line-height: 20px
        color: #fff
        font-family: 'Roboto'
        max-width: 480px
        margin-bottom: 75px
        +res('mob')
          margin-bottom: 55px
      .bottom
        display: flex
        justify-content: flex-start
        max-width: 760px
        flex-wrap: wrap
        +res('mob')
          flex-wrap: wrap
        .wrapper
          width: 33.33333%
          color: #fff
          padding-right: 20px
          margin-bottom: 25px
          p:nth-of-type(1)
            font-size: 22px
            line-height: 26px
            margin-bottom: 15px
            +res('mob')
              font-size: 18px
              line-height: 20px
          p:nth-of-type(2)
            font-family: 'Roboto'
            font-size: 13px
          +res('mob')
            width: 50%
            padding-right: 0
            margin-bottom: 25px
      .close-btn
        position: absolute
        right: 70px
        top: -10px
        width: 70px
        height: 70px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        &:before
          content: ''
          position: absolute
          background-color: #fff
          top: 10px
          left: 10px
          transform: rotate(45deg)
          transform-origin: 50% 50%
          width: 50px
          height: 50px
          z-index: -1
          transition: .5s
        +res('desk-min')
          &:hover
            &:before
              transform: rotate(225deg)
        +res('mob')
          right: calc(50% - 35px)
          top: -35px
</style>
