<template>
  <nuxt-link :class="elemClass" :to="linkTo" v-if="linkTo">
  </nuxt-link>
</template>

<script>

    import BtnSend from '~/assets/js/btnSend.js';

    export default {
      name: "BaseBtnBig",
      data() {
        return {
          text: this.innerText,
          btnColor: this.color,
          textColor: this.fontColor,
          className: this.elemClass,
          btnEx: null
        }
      },
      props: {
        elemClass: String,
        innerText: String,
        color: String,
        fontColor: String,
        linkTo: String
      },
      mounted() {
        this.btnEx = new BtnSend(`.${this.className}`, {
          color: this.color,
          text: this.text,
          fontColor: this.textColor
        })
      },
      beforeDestroy() {
        this.btnEx.removeEventListeners();
        this.btnEx = null
      }

    }
</script>
