<template>
  <div class="form-shapes">

  </div>
</template>

<script>
    import FormShapes from '~/assets/js/FormShapes.js';
    export default {
      name: "BaseFormShapes",
      data() {
        return {
          shapeEx: null
        }
      },
      mounted() {
        this.shapeEx = new FormShapes('.form-shapes');
      },
      beforeDestroy() {
        this.shapeEx = null;
      }
    }
</script>

<style>

</style>
