<template>
  <div :class="elemClass">
  </div>
</template>

<script>
    import BtnSend from '~/assets/js/btnSend.js';
    export default {
      name: "BaseBtnSubmit",
      data() {
        return {
          btnEx: null
        }
      },
      props: {
        elemClass: String,
        innerText: String,
        color: String,
        fontColor: String
      },
      mounted() {
        this.btnEx = new BtnSend(`.${this.elemClass}`, {
          color: this.color,
          text: this.innerText,
          fontColor: this.fontColor,
          shapeWidth: 250
        })
      },
      beforeDestroy() {
        this.btnEx.removeEventListeners();
        this.btnEx = null
      }
    }
</script>

<style>

</style>
