<template>
  <section class="in-touch" :class="[activeClass, aditionalClass]" ref="inTouch">
    <div class="container in-touch__wrap holder" v-if="holder" @click="showForm">
      <div class="in-touch__col">
        <BaseIntersectionObserver :animation="'fade-right'">
          <p class="text uikit__p">
            {{holder.topText}}
          </p>
        </BaseIntersectionObserver>
        <BaseIntersectionObserver :animation="'fade-right'" :delay="0.2">
          <p class="title">
            {{holder.title}}
          </p>
        </BaseIntersectionObserver>
      </div>
      <div class="in-touch__col">
        <BaseIntersectionObserver v-if="holder" :animation="'fade-up'">
          <BaseFormShapes
            v-if="holder"/>
        </BaseIntersectionObserver>

      </div>
    </div>
    <div class="container in-touch__wrap form-wrap">
      <div class="in-touch__col">
        <BaseIntersectionObserver :animation="'fade-right'" v-if="topTitle">
          <p class="in-touch__topTitle uikit__p" v-if="topTitle">
            {{topTitle}}
          </p>
        </BaseIntersectionObserver>
        <BaseIntersectionObserver v-if="title" :animation="'fade-right'">
          <h1 class="in-touch__title uikit__h1" v-if="title">
            {{title}}
          </h1>
        </BaseIntersectionObserver>
        <BaseIntersectionObserver v-if="desc" :animation="'fade-right'">
          <p class="in-touch__desc uikit__p" v-if="desc">
            {{desc}}
          </p>
        </BaseIntersectionObserver>
      </div>
      <div class="in-touch__col">
        <form :action="action" class="form" method="POST" ref="form" @submit="checkForm">
          <div class="form-fields">
              <BaseInput
                v-for="(item,id) in formFields" :key="id"
                :name="item.name"
                :id="item.id"
                :label="item.label"/>
            <BaseIntersectionObserver :animation="'fade-right'" v-if="dropdownList">
              <BaseDropdown
                v-if="dropdownList"
                :name="dropdownInput.name"
                :id="dropdownInput.id"
                :dropdownList="dropdownList"
                data-anim="fade-right"/>
            </BaseIntersectionObserver>
          </div>
          <BaseIntersectionObserver :animation="'fade-right'">
            <div class="right">
              <BaseBtnSubmit
                :elemClass="btnClass"
                :innerText="btn.text"
                :color="btn.color"
                :fontColor="btn.textColor"
                @click.native="submitForm"/>
            </div>
          </BaseIntersectionObserver>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
    import BaseInput from "./BaseInput";
    import BaseDropdown from "./BaseDropdown";
    import BaseBtnSubmit from "./BaseBtnSubmit";
    import BaseIntersectionObserver from "./BaseIntersectionObserver";
    export default {
      name: "BaseForm",
      components: {BaseIntersectionObserver, BaseBtnSubmit, BaseDropdown, BaseInput},
      props: {
        activeClass: {
          type: String,
          default: ''
        },
        aditionalClass: {
          type: String,
          default: ''
        },
        topTitle: {
          type: String,
          default: null
        },
        title: String,
        desc: String,
        formFields: Array,
        dropdownList: Array,
        dropdownInput: Object,
        btn: Object,
        btnClass: String,
        action: String,
        holder: Object
      },
      methods: {
        submitForm() {
          this.$refs.form.submit()
        },
        checkForm() {
          // this.$el.onsubmit(e.preventDefault())
          alert(1)
        },
        showForm() {
          this.$refs.inTouch.classList.add('is-active')
        }
      }
      // beforeDestroy()
    }
</script>

<style lang="sass">
  @import '~/assets/sass/partials/_sass-for-components.sass';
  .in-touch
    padding: 70px 0
    background-color: #fff
    position: relative
    overflow: hidden
    z-index: 2
    background: rgb(97,67,153)
    background: -moz-linear-gradient(left, rgba(97,67,153,1) 0%, rgba(144,55,134,1) 51%, rgba(229,33,101,1) 100%)
    background: -webkit-linear-gradient(left, rgba(97,67,153,1) 0%,rgba(144,55,134,1) 51%,rgba(229,33,101,1) 100%)
    background: linear-gradient(to right, rgba(97,67,153,1) 0%,rgba(144,55,134,1) 51%,rgba(229,33,101,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614399', endColorstr='#e52165',GradientType=1 )
    +res('mob')
      padding: 40px 0
    &__wrap
      display: flex
      justify-content: space-between
      +res('mob')
        display: block
    .form-wrap
      opacity: 0
      visibility: hidden
      transition: .5s
      transform: translateY(-200px)
    .holder
      position: absolute
      top: 0
      margin: 0 auto
      cursor: pointer
      left: 50%
      transform: translateX(-50%)
      transition: .5s
      height: 100%
      z-index: 5
      .form-shapes
        width: 230px
        height: 55px
        left: 60px
        transition: .5s
        position: relative
        +res('mob')
          top: calc( 50% - 75px)
          left: 50%
          transform: translateX(-50%)
      .in-touch__col
        display: flex
        flex-direction: column
        justify-content: center
        position: relative
      .text
        margin-bottom: 35px
      .title
        font-size: 54px
        line-height: 54px
        color: #fff
        +res('tab')
          font-size: 30px
          line-height: 34px
        +res('mob')
          font-size: 24px
          line-height: 32px
    &__col
      max-width: 50%
      height: 100%
      width: 100%
      @media only screen and (max-width: 768px)
        max-width: 44%
      +res('mob')
        max-width: none
        margin-bottom: 28px
        &:last-child
          margin-bottom: 0
    &__title
      color: #171617
      margin-bottom: 30px
      +res('mob')
        margin-bottom: 15px
    &__desc
      color: #171617
      font-size: 13px
      max-width: 475px
      line-height: 20px
    &.is-open
      background: #fff
      overflow: visible
      .form-wrap
        opacity: 1
        visibility: visible
        transform: translateY(0)
    &.is-active
      cursor: auto
      .holder
        opacity: 0
        transform: translateX(-50%) translateY(200px)
        visibility: hidden
      .form-wrap
        opacity: 1
        visibility: visible
        transform: translateY(0)
        .in-touch__title, .form-fields label
          color: #fff
        .form-fields input
          color: #fff
          border-bottom: 1px solid #fff
  .form
    display: flex
    justify-content: space-between
    width: 100%
    padding: 10px 25px 0 0
    +res('tab')
      flex-wrap: wrap
    +res('mob')
      display: block
      padding-right: 0
    .form-fields
      display: flex
      flex-direction: column
      .input-field
        position: relative
        margin-bottom: 20px
        &:last-child
          margin-bottom: 0
          +res('tab')
            margin-bottom: 30px
      label
        position: absolute
        top: 0
        left: 0
        color: #171617
        transition: .3s
        &.active
          top: -15px
      input
        width: 290px
        height: 30px
        background-color: transparent
        border: none
        outline: none
        border-bottom: 1px solid #171617
        color: #171617
        padding-left: 10px
        position: relative
        z-index: 1
        +res('mob')
          width: 100%
    .right
      min-width: 290px
      display: flex
      align-items: center
      min-height: 100%
      position: relative

      +res('mob')
        width: 100%
        min-width: auto
      .sendBtn
        width: 270px
        height: 80px
        top: 29px
        position: absolute
        left: 35px
        transition: .5s
        +res('tab')
          position: static
        +res('mob')
          position: static
          margin: 40px auto 0 auto
</style>
