<template>
  <BaseIntersectionObserver :animation="'fade-right'">
    <div class="input-field"
         :class="additionalClass">
      <component
        v-if="tag === 'input' || tag === 'textarea'"
        :is=" tag "
        :type="type"
        :id="id"
        :name="name"
        ref="input"
        @focus="labelUp"
        @blur="labelDown">
      </component>
      <label :for="name" ref="label">
        {{label}}
      </label>
    </div>
  </BaseIntersectionObserver>

</template>

<script>
    import BaseIntersectionObserver from "./BaseIntersectionObserver";
    export default {
      name: "BaseInput",
      components: {BaseIntersectionObserver},
      // computed: {
      //   validationRule() {
      //     switch(this.name) {
      //       case 'name':
      //         return 'alpha_spaces';
      //         break;
      //       case 'email':
      //         return 'email';
      //         break;
      //       case 'phone':
      //         return 'alpha';
      //         break;
      //       default:
      //         return '';
      //         break;
      //     }
      //   }
      // },
      props: {
        tag: {
          type: String,
          default: 'input'
        },
        type: {
          type: String,
          default: 'text'
        },
        id: {
          type: String
        },
        name: {
          type: String,
          default: 'input'
        },
        label: {
          type: String
        },
        additionalClass: {
          type: String
        },
        // required: {
        //   type: String,
        //   default: ''
        // }
      },
      methods: {
        labelUp() {
          this.$refs.label.classList.add('active');
        },
        labelDown() {
          if ( this.$refs.input.value === '' ) {
            this.$refs.label.classList.remove('active');
          }
        }
      }
    }
</script>

<style>

</style>
