<template>
  <div class="dropdown-block input-field" v-click-outside="hide" @click="showDropdown">
    <input hidden type="text"
           :id="id"
           :name="name"
           :value="inputValue">
    <div class="dropdown_item">
      <span class="dropdown_item__text">
        {{inputValue}}
      </span>
      <div class="dropdown_item__arrow">
        <img src="/img/ui/arrow_down.png" class="arrow_img">
      </div>
      <div class="dropdown_body">
        <div class="dropdown_body__item" v-for="(item, id) in dropdownList" :key="id" @click="changeText">
          {{item.text}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
   import ClickOutside from 'vue-click-outside';
    export default {
      name: "BaseDropdown",
      data(){
        return {
          inputValue: this.dropdownList[0].text
        }
      },
      props: {
        name: String,
        id: String,
        dropdownList: Array
      },
      methods: {
        showDropdown: function(e) {
          this.$el.classList.toggle('is-open')
        },
        hide() {
          this.$el.classList.remove('is-open')
        },
        changeText(e) {
          this.inputValue = e.target.innerText;
        }
      },
      directives: {
        ClickOutside
      }
    }
</script>

<style lang="sass">
  @import '~/assets/sass/partials/_sass-for-components.sass';
  @keyframes fadeInn
    0%
      opacity: 0
    100%
      opacity: 1
  .dropdown-block
    &.is-open
      .dropdown_item__arrow
        transform-origin: 50% 20%
        transform: rotate(180deg)
      .dropdown_body
        transform: scaleY(1)
        transform-origin: bottom
      .dropdown_body__item
        animation: fadeInn 0.3s ease
        animation-fill-mode: forwards
        animation-delay: 0.5s
  .dropdown_item
    width: 290px
    height: 30px
    background-color: transparent
    border: none
    outline: none
    border-bottom: 1px solid #171617
    color: #171617
    position: relative
    cursor: pointer
    +res('mob')
      width: 100%
    &__arrow
      position: absolute
      top: 50%
      right: 0
      transform: translateY(-50%)
      transition: .3s
      transform-origin: 50% 20%
      &-active
        transform-origin: 50% 20%
        transform: rotate(180deg)
  .dropdown_body
    position: absolute
    bottom: 50px
    left: 0
    width: 100%
    background-color: #fff
    box-sizing: border-box
    z-index: 5
    overflow: hidden
    visibility: visible
    transform: scaleY(0)
    transform-origin: bottom
    transition: transform 0.5s

    &__item
      cursor: pointer
      height: 50px
      opacity: 0
      border-right: 1px solid #171617
      border-left: 1px solid #171617
      border-bottom: 1px solid #171617
      line-height: 50px
      padding-left: 20px
      position: relative
      overflow: hidden
      transition: .3s
      +res('desk-min')
        &:hover
          color: #fff
          &:before
            transform: translateY(0)
      &:first-child
        border-top: 1px solid #171617
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 105%
        height: 105%
        background-color: #ea2066
        z-index: -1
        transform: translateY(105%)
        transition: .3s
</style>
