<template>
  <section class="clients">
    <div class="container">
      <BaseIntersectionObserver :animation="'fade-right'">
        <div class="title uikit__h2">
          {{global.title}}
        </div>
      </BaseIntersectionObserver>
      <no-ssr>
        <BaseIntersectionObserver :animation="'fade-up'">
          <flickity ref="flickity" :options="flickityOptions" class="slider-clients">
            <div v-for='(item, id) in global.items' class="clients-slide" :key="id">
              <div class="clients-item" v-for="(innerItem, idd) in item" :key="idd">
                <BaseIntersectionObserver :animation="'zoom-out'" :delay="id/10">
                  <div class="wrapper">
                    <div class="img-container">
                      <img :src="innerItem.imageSrc">
                    </div>
                    <p class="text uikit__p">
                      {{innerItem.text}}
                    </p>
                  </div>
                </BaseIntersectionObserver>
              </div>
            </div>
          </flickity>
        </BaseIntersectionObserver>
      </no-ssr>
    </div>
  </section>
</template>

<script>
  import Vue from 'vue';
  import Btn from '~/assets/js/Button.js';
  import BaseIntersectionObserver from "../BaseComponents/BaseIntersectionObserver";

  export default {
    name: "TheClients",
    components: {BaseIntersectionObserver},
    data() {
      return {
        nextBtn: null,
        prevBtn: null,
        flickityOptions: {
          pageDots: false,
          accessibility: false,
          cellAlign: 'left',
          initialIndex: 0,
          groupCells: 4
        },

      }
    },
    computed: {
      global() {
        return this.$store.state.pageData.pageHome.pageHome__clients
      },

    },
    methods: {
      setGroupCells() {
        if (window.innerWidth > 767 && window.innerWidth < 1200) {
          Vue.set(this.flickityOptions, 'groupCells', 2);
        }
        if (window.innerWidth <= 767) {
          Vue.set(this.flickityOptions, 'groupCells', 1);
        }
      }
    },

    mounted() {
      this.setGroupCells();
      window.addEventListener('resize', this.setGroupCells);
      Vue.nextTick(() => {
        this.$refs.flickity.on('change', (index) => {
          this.nextBtn.drawRects()
          this.prevBtn.drawRects()
        });
        this.nextBtn = new Btn('.slider-clients .flickity-prev-next-button.previous', {
          direction: 'left'
        });
        this.prevBtn = new Btn('.slider-clients .flickity-prev-next-button.next', {
          direction: 'right'
        });
      });

    },

    beforeDestroy() {
      window.removeEventListener('resize', this.setGroupCells);
      this.nextBtn.removeEventListeners();
      this.prevBtn.removeEventListeners();
      this.nextBtn = null;
      this.prevBtn = null
    }
  }
</script>

<style lang="sass">

  @import '~/assets/sass/partials/_sass-for-components.sass';

  .clients
    background-color: #fff
    padding-top: 75px
    padding-bottom: 40px
    +res('mob')
      padding-top: 40px
    .title
      margin-bottom: 35px
      user-select: none
    .slider-clients
      border-top: 1px solid #dbdbdb
      .clients-slide
        width: 25%
        &:nth-of-type(4n)
          .clients-item
            &:before
              display: none
        +res('tab')
          width: 50%
        +res('mob')
          width: 100%
      .clients-item
        height: 170px
        width: 100%
        padding: 40px
        position: relative
        border-bottom: 1px solid #dbdbdb
        img
          transition: .3s
          filter: grayscale(1)
          opacity: 0.6
          +res('tab')
            filter: none
            opacity: 1
          +res('mob')
            filter: none
            opacity: 1
        +res('desk-min')
          &:hover
            img
              filter: none
              opacity: 1
        &:nth-of-type(2)
          border: none
        &:before
          content: ''
          width: 1px
          height: calc(100% - 50px)
          position: absolute
          top: 25px
          right: 0
          background-color: #dbdbdb
          +res('mob')
            display: none
        .img-container
          width: 100%
          display: flex
          justify-content: center
          align-items: center
          margin-bottom: 25px
          height: 90px
          img
            max-width: 70%
            max-height: 80%
          svg
            max-width: 100%
            max-height: 100%
            max-height: 90px
            width: 100%
            height: 100%
        .text
          color: #171617
          max-width: 180px
          text-align: center
          margin: 0 auto
          font-size: 13px
          line-height: 20px
          display: none
      .flickity-button
        top: -75px
        position: absolute
        width: 85px
        height: 55px
        +res('mob')
          right: -3px
        &:focus
          box-shadow: none
        &:disabled
          opacity: 0.7
      .flickity-button.previous
        left: auto
        right: 105px
        +res('mob')
          right: 60px
</style>
