<template>
  <section class="intro">
    <BaseIntersectionObserver :duration="1">
      <div class="intro__backgroundCanvas"></div>
    </BaseIntersectionObserver>
    <div class="container">
      <BaseIntersectionObserver :animation="'fade-up'">
        <div class="intro__left" data-anim="fade-up"></div>
      </BaseIntersectionObserver>
      <div class="intro__right">
      <BaseIntersectionObserver :animation="'fade-up'" :delay="0.5">
        <h1 class="intro__title uikit__h1">{{global.mainTitle}}</h1>
      </BaseIntersectionObserver>
      <BaseIntersectionObserver :animation="'fade-up'" :delay="0.7">
        <p class="intro__desc uikit__p">{{global.desc}}</p>
      </BaseIntersectionObserver>
      </div>
      <div class="intro__scroll" @click="scrollDown">
        <p class="intro__text">scroll</p>
        <div class="intro__lines-wrapper">
          <div class="intro__line"></div>
          <div class="intro__line"></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import GradientBackground from '~/assets/js/gradientBackground.js'
  import Shapes from '~/assets/js/Shapes.js'
  import BaseBtnBig from "../BaseComponents/BaseBtnBig";
  import BaseIntersectionObserver from "../BaseComponents/BaseIntersectionObserver";

    export default {
      name: "TheIntro",
      components: {BaseIntersectionObserver, BaseBtnBig},
      data() {
        return {
          shapeEx: null,
          background: null
        }
      },
      computed: {
          global() {
            return this.$store.state.pageData.pageHome.pageHome__intro
          }
      },
      mounted() {
        this.background = new GradientBackground('.intro__backgroundCanvas');
        this.shapeEx = new Shapes('.intro__left', {
          blocksColor: '#eee'
        });
      },
      beforeDestroy() {
        this.shapeEx.removeEventListeners();
        this.background.removeEventListeners();
        this.shapeEx = null;
        this.background = null;
      },
      methods: {
        scrollDown() {
          let offset = this.$el.offsetHeight;
          TweenLite.to(window, 2, {
            scrollTo: {
              y: offset,
              autoKill: false
            },
            ease: Power3.easeInOut
          });
        }
      }
    }
</script>

<style lang="sass">

  @import '~/assets/sass/partials/_sass-for-components.sass'

  .intro
    width: 100%
    height: 100vh
    overflow: hidden
    +res('tab')
      background: rgb(101,66,152)
      background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
      background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
      background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654298', endColorstr='#e12267',GradientType=1 )
      height: 97vh
    +res('mob')
      background: rgb(101,66,152)
      background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
      background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
      background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654298', endColorstr='#e12267',GradientType=1 )
      height: 97vh
    &__backgroundCanvas
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
    .container
      display: flex
      align-items: center
      +res('mob')
        min-height: 100%
        align-items: flex-end
        padding-bottom: 75px
    &__left
      width: 50%
      height: 100vh
      +res('mob')
        position: absolute
        width: 100%
        bottom: 0
    &__right
      width: 50%
      +res('mob')
        width: 100%
    &__title
      max-width: 440px
      margin-bottom: 35px
      /*opacity: 0*/
      +res('mob')
        margin-bottom: 25px
    &__desc
      max-width: 495px
      /*opacity: 0*/
    &.animationStart
      .intro__title, .intro__desc
        animation: fadeUp 0.5s ease
        animation-delay: 1s
        animation-fill-mode: forwards
      .intro__desc
        animation-delay: 1.2s
    +res('tab')
      padding-left: 20px
    &__scroll
      text-decoration: none
      cursor: pointer
      position: absolute
      right: 0
      bottom: 0
      transform: rotate(90deg)
      transform-origin: top right
      color: #fff
      font-size: 16px
      display: flex
      align-items: center
      /*opacity: 0*/
      transition: .8s
      transition-delay: 1s
      +res('tab')
        right: 15px
        bottom: 20px
      +res('mob')
        display: none
    &__lines-wrapper
      position: relative
      margin-left: 15px
      width: 70px
      overflow: hidden
      height: 20px
    &__line
      width: 60px
      position: absolute
      left: 0
      top: 10px
      height: 1px
      background-color: #fff
      margin-left: 5px
      animation: linesAmination 2s ease
      animation-iteration-count: infinite
      &:nth-of-type(1)
        top: 15px
        left: 10px
        animation-delay: 0.5s
    &.animationStart
      opacity: 1
</style>
