<template>
  <section class="impact">
    <div class="container">
      <BaseIntersectionObserver :animation="'fade-right'">
        <h2 class="title uikit__h2">
          {{global.title}}
        </h2>
      </BaseIntersectionObserver>
      <div class="items">
        <div class="item" v-for="(item, id) in global.items" :key="id">
          <BaseIntersectionObserver :animation="'fade-up'" :delay="id/5">
            <div class="wrapper">
              <div class="icon" :class="item.figureName"></div>
              <div class="item__title">
                {{item.title}}
              </div>
              <div class="item__desc uikit__p">
                {{item.desc}}
              </div>
            </div>
          </BaseIntersectionObserver>
        </div>

      </div>
    </div>
  </section>
</template>

<script>

  import FigureType1 from '~/assets/js/FigureType1.js';
  import FigureType2 from '~/assets/js/FigureType2.js';
  import FigureType3 from '~/assets/js/FigureType3.js';
  import BaseIntersectionObserver from "../BaseComponents/BaseIntersectionObserver";

  export default {
    name: "TheImpact",
    components: {BaseIntersectionObserver},
    data() {
      return {
        figure1: null,
        figure2: null,
        figure3: null
      }
    },
    computed: {
      global() {
        return this.$store.state.pageData.pageHome.pageHome__impact
      }
    },
    mounted() {
      this.figure1 = new FigureType1(`.${this.$store.state.pageData.pageHome.pageHome__impact.items[0].figureName}`);
      this.figure2 = new FigureType2(`.${this.$store.state.pageData.pageHome.pageHome__impact.items[1].figureName}`);
      this.figure3 = new FigureType3(`.${this.$store.state.pageData.pageHome.pageHome__impact.items[2].figureName}`);
    },
    beforeDestroy() {
      this.figure1 = null;
      this.figure2 = null;
      this.figure3 = null;
    }
  }
</script>

<style lang="sass">

  @import '~/assets/sass/partials/_sass-for-components.sass'

  .impact
    padding-top: 80px
    padding-bottom: 75px
    background: rgb(250, 252, 252)
    background: -moz-linear-gradient(left, rgba(250, 252, 252, 1) 0%, rgba(223, 236, 235, 1) 100%)
    background: -webkit-linear-gradient(left, rgba(250, 252, 252, 1) 0%, rgba(223, 236, 235, 1) 100%)
    background: linear-gradient(to right, rgba(250, 252, 252, 1) 0%, rgba(223, 236, 235, 1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafcfc', endColorstr='#dfeceb', GradientType=1)
    .title
      //margin-bottom: 35px
      padding-bottom: 35px
    +res('mob')
      padding-top: 40px
    .items
      display: flex
      align-items: flex-start
      +res('mob')
        flex-direction: column
      .item
        width: 33.333333%
        +res('tab')
          padding-right: 15px
        +res('mob')
          width: 100%
        .item__title, .item__desc
          max-width: 290px
        .item__title
          font-family: 'ApercuBold'
          font-size: 22px
          line-height: 26px
          margin-bottom: 15px
        .item__desc
          font-size: 13px
          line-height: 20px
          color: #171617
          +res('mob')
            margin-bottom: 35px
        .icon
          width: 74px
          height: 106px
          margin-bottom: 20px
        &:nth-of-type(1), &:nth-of-type(2)
          .icon
            width: 60px
</style>
