<template>
  <section class="services">
    <div class="popup-services">
      <div class="container">
        <a href="#" class="left operatorsBtn js-service-btn active">
          <span>{{global.tabLeft}}</span>
        </a>
        <div class="content">
          <Popup
          :class="{active: isActive}"
          :content="global.popupOperators"
          :blockClass="blockClassOperators"
          :items="global.popupOperators.items"
          :linkClass="operatorsPopupLinkClass"
          />
          <Popup
            :class="{active: !isActive}"
            :content="global.popupEnterprise"
            :blockClass="blockClassEnterprise"
            :items="global.popupEnterprise.items"
            :linkClass="enterprisePopupLinkClass"
            />
        </div>
        <a href="#" class="right enterpriseBtn js-service-btn">
          <span>{{global.tabRight}}</span>
        </a>
      </div>
    </div>
    <div class="item-wrapper">
      <InnerBlock
        :btnClass="operatorsBtnClass"
        :title="global.itemOperators.title"
        :subtitle="global.itemOperators.subtitle"
        :desc="global.itemOperators.desc"
      />
      <InnerBlock
        :btnClass="enterpriseBtnClass"
        :title="global.itemEnterprise.title"
        :subtitle="global.itemEnterprise.subtitle"
        :desc="global.itemEnterprise.desc"
      />
    </div>
  </section>
</template>

<script>

  import Services from '~/assets/js/servicesCtrl.js';
  import InnerBlock from '~/components/Home/Services/InnerBlock';
  import Popup from '~/components/Home/Services/PopupServices';

    export default {
      name: "TheServices",
      components: {
        InnerBlock,
        Popup
      },
      data(){
        return {
          isActive: true,
          operatorsBtnClass: 'operatorsBtn',
          enterpriseBtnClass: 'enterpriseBtn',
          operatorsPopupLinkClass: 'more-btn-operators',
          enterprisePopupLinkClass: 'more-btn-enterpise',
          blockClassOperators: 'operatorsBlock',
          blockClassEnterprise: 'enterpriseBlock',
          servicesEx: null
        }
      },
      computed: {
        global() {
          return this.$store.state.pageData.pageHome.pageHome__services
        }
      },
      mounted() {
        this.servicesEx = new Services();
      },
      beforeDestroy() {
        this.servicesEx = null
      }
    }
</script>

<style lang="sass">

  @import '~/assets/sass/partials/_sass-for-components.sass'

  .services
    width: 100%
    min-height: 100vh
    background-image: url("~/assets/img/services1.jpg")
    background-size: cover
    background-position: 50% 50%
    position: relative
    overflow: hidden
    +res('tab')
      min-height: 80vh
    +res('mob')
      overflow: visible
      min-height: 120vh
    .item-wrapper
      display: flex
      transition: .5s
      &.not-active
        opacity: 0
        visibility: hidden
      +res('mob')
        flex-direction: column

</style>
