<template>
  <section class="we-do">
    <div class="container">
      <div class="we-do__short-desc">
        <BaseIntersectionObserver :animation="'fade-right'">
          <h2 class="we-do__title uikit__h2">
            {{global.title}}
          </h2>
        </BaseIntersectionObserver>
        <BaseIntersectionObserver :animation="'fade-right'">
          <p class="we-do__text uikit__p">
            {{global.desc}}
          </p>
        </BaseIntersectionObserver>
      </div>
      <no-ssr>
        <BaseIntersectionObserver :animation="'fade-up'">
          <flickity ref="flickity" :options="flickityOptions" class="we-do__slider-thumb">
            <div v-for='(item, id) in global.slides' class="we-do__slider-item" :key="id">
              <span class="we-do__slider-value"></span>
              <p class="we-do__slider-title uikit__h2">{{item.title}}</p>
              <p class="we-do__slider-desc uikit__p">{{item.desc}}</p>
            </div>
          </flickity>
        </BaseIntersectionObserver>
      </no-ssr>
    </div>
    <BaseIntersectionObserver :animation="'zoom-in'">
      <div class="we-do__circle-wrapper"></div>
    </BaseIntersectionObserver>
  </section>
</template>

<script>

  import Slider from '~/assets/js/Slider.js';
  import Vue from 'vue';
  import Btn from '~/assets/js/Button.js';
  import BaseIntersectionObserver from "../BaseComponents/BaseIntersectionObserver";

    export default {
        name: "TheWeDo",
      components: {BaseIntersectionObserver},
      data() {
          return {
            sliderEx: null,
            allowClick: null,
            btnNext: null,
            btnPrev: null,
            dotsQuantity: this.$store.state.pageData.pageHome.pageHome__weDo.slides.length,
            flickityOptions: {
              pageDots: false,
              accessibility: false,
              cellAlign: '0.35',
              wrapAround: true,
              initialIndex: 0,
              friction: 0.6,
              selectedAttraction: 0.15
            }
          }
        },
        computed: {
          global() {
            return this.$store.state.pageData.pageHome.pageHome__weDo
          }
        },
        mounted() {
          Vue.nextTick(()=>{
            this.$refs.flickity.on( 'staticClick', ( event, pointer, cellElement, cellIndex ) => {
              this.sliderEx.initFlickEvent(cellIndex);
              this.$refs.flickity.select( cellIndex, false, false );
            });
            this.$refs.flickity.on( 'change', ( index ) => {
              this.sliderEx.initFlickChangeEvent(index)
            });
            this.$el.addEventListener('click', (e) => {
              this.allowClick = this.sliderEx.checkClick(e);
              if ( this.allowClick ) {
                this.sliderEx.initFlickEvent(this.sliderEx.checkClick(e) - 1);
                this.$refs.flickity.select( this.sliderEx.checkClick(e) - 1, false, false );
              }
            });
            this.sliderEx = new Slider('.we-do__circle-wrapper', {
              dotsQuantity: this.dotsQuantity
            });
            this.btnPrev = new Btn('.we-do__slider-thumb .flickity-prev-next-button.previous', {
              direction: 'left'
            });
            this.btnNext = new Btn('.we-do__slider-thumb .flickity-prev-next-button.next', {
              direction: 'right'
            });
          });

        },
      beforeDestroy() {
        this.sliderEx.removeEventListeners();
        this.btnNext.removeEventListeners();
        this.btnPrev.removeEventListeners();
        this.sliderEx = null;
        this.btnNext = null;
        this.btnPrev = null;
      }
    }
</script>

<style lang="sass">

  @import '~/assets/sass/partials/_sass-for-components.sass'

  .we-do
    height: 100vh
    position: relative
    overflow: hidden
    background: rgb(245,249,249)
    background: -moz-linear-gradient(left, rgba(245,249,249,1) 0%, rgba(218,233,233,1) 100%)
    background: -webkit-linear-gradient(left, rgba(245,249,249,1) 0%,rgba(218,233,233,1) 100%)
    background: linear-gradient(to right, rgba(245,249,249,1) 0%,rgba(218,233,233,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9f9', endColorstr='#dae9e9',GradientType=1 )
    +res('tab')
      overflow: hidden
    +res('mob')
      overflow: hidden
      height: auto
    .container
      position: relative
      height: 100vh
      display: flex
      align-items: flex-end
      +res('mob')
        height: auto
        min-height: 100vh
        flex-direction: column
    &__short-desc
      max-width: 290px
      height: 100vh
      display: flex
      flex-direction: column
      justify-content: center
      position: absolute
      left: 0
      top: 0
      z-index: 5
      +res('desk')
        padding-bottom: 115px
      +res('tab')
        justify-content: flex-start
        padding: 0 15px
        padding-top: 75px
        max-width: 50%
      +res('mob')
        width: 100%
        max-width: 100%
        padding-top: 40px
        height: auto
        position: relative
        margin-bottom: 230px
      @media only screen and (max-width: 1199px) and (min-width: 768px) and (orientation: landscape)
        justify-content: center
        padding-top: 0
    &__title
      margin-bottom: 35px
      +res('mob')
        margin-bottom: 30px
    &__text
      color: #171617
    &__circle-wrapper
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      canvas
        position: relative
        @media only screen and (min-width: 1920px)
          bottom: 80px
        @media only screen and (max-width: 1280px)
          top: 26px
      +res('desk')
        height: 70%
      +res('tab')
        top: 14%
      +res('mob')
        height: 100vh
      //top: 100px
      @media only screen and (max-width: 1199px) and (min-width: 768px) and (orientation: landscape)
        top: 5%
        left: auto
        right: -25%
    &__slider-thumb
      height: 260px
      width: 100%
      position: relative
      bottom: 0
      z-index: 5
      margin: 0 auto
      max-width: 855px
      counter-reset: sliderBefore
      +res('desk')
        height: 215px
      +res('tab')
        max-width: calc(100% - 200px)
      +res('mob')
        max-width: 100%
        padding: 0 70px
      &:before
        content: ''
        width: 150vw
        position: absolute
        left: -50vw
        top: 20px
        height: 1px
        background-color: #fff
    &__slider-item
      width: 25%
      height: 100%
      transition: transform .5s
      position: relative
      +res('desk-min')
        &:hover
          transform: translateY(-45px)
          .we-do__slider-title
            color: #32b4d4
          +res('desk')
            transform: translateY(-25px)
      +res('tab')
        width: 50%
      +res('mob')
        width: 100%
      &.is-selected
        transform: translateY(-45px)
        .we-do__slider-value
          opacity: 0.3
          transform: translateY(-15px)
        .we-do__slider-title
          color: #32b4d4
        +res('desk')
          transform: translateY(-25px)
    &__slider-value
      position: absolute
      top: -30px
      left: 0
      font-family: $apercu
      font-size: 80px
      letter-spacing: -0.5px
      z-index: -1
      font-weight: 900
      transition: .5s
      opacity: 0
      color: #c2c2c2
      +res('mob')
        display: none
    &__slider-title
      font-size: 22px
      line-height: 26px
      max-width: 135px
      margin-bottom: 15px
      transition: .5s
    &__slider-desc
      font-size: 13px
      line-height: 20px
      color: #171617
      max-width: 170px
      +res('mob')
        max-width: 100%

    .flickity-viewport
      //padding-left: 25%
      padding-top: 80px
      +res('desk')
        padding-top: 60px
    .flickity-button
      position: absolute
      width: 85px
      height: 55px
      +res('mob')
        width: 65px
        height: 40px
      &.previous
        left: -19%
        top: 75px
        +res('tab')
          left: -95px
        +res('mob')
          left: -15px
      &.next
        right: -17%
        top: 75px
        +res('tab')
          right: -95px
        +res('mob')
          right: 5px
  // remove flckty default
  .flickity-button-icon
    display: none

  .flickity-prev-next-button
    border-radius: 0 !important
    transform: none !important
    background-color: transparent !important
    border: none !important
    outline: none !important
  .flickity-button:active
    opacity: 1 !important
</style>
