body
  background-color: #ededed
  overflow-x: hidden
  font-family: $apercu
.lock
  overflow: hidden
input
  -webkit-appearance: none
  border-radius: 0
.page-enter-active, .page-leave-active
  transition: opacity .5s
.page-enter, .page-leave-to
  opacity: 0
