<template>
  <div class="preloader" v-if="$store.state.showPreloader">
  </div>
</template>

<script>
  import Preloader from '~/assets/js/Preloader.js';
  export default {
    name: 'Preloader',
    data() {
      return {
        prld: null
      }
    },
    mounted() {
      if ( !this.$store.state.showPreloader ) return;
      this.prld = new Preloader('.preloader');
      console.log(this.prld);
    }
  }
</script>
<style lang="sass">
  .preloader
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 999
    height: 100vh
    transform-origin: top
    max-width: 100vw
    overflow: hidden
    background-color: #171617
  .loaded
    transition: 1s
    transform: translateY(-100%)
    transform-origin: top
</style>
