<template>
  <div class="template-wrapper">
    <Preloader/>
    <TheHeader/>
    <div class="main">
      <nuxt/>
    </div>
    <TheFooter/>
  </div>
</template>

<script>
  import TheHeader from '~/components/Header/TheHeader';
  import TheFooter from '~/components/TheFooter';
  import Preloader from "../components/Preloader/ThePreloader";

  export default {
    name: 'default',
    components: {
      Preloader,
      TheHeader,
      TheFooter
    },
    scrollToTop: true,
    middleware: 'getPageData',
    mounted() {
      if ( !this.$store.state.showPreloader ) {
        document.body.classList.remove('lock');
        return;
      }
      setTimeout(() => {
        this.$store.commit('UNLOCK_PAGE');
      }, 3500)
    }
  }

</script>

<style>
</style>
