<template>
  <div>
    <ThePreloader/>
    <TheHeader
      :aditionalClass="headerClass"/>
    <div class="main">
      <nuxt/>
    </div>
    <TheFooter/>
  </div>
</template>

<script>
  import TheHeader from '~/components/Header/TheHeader';
  import TheFooter from '~/components/TheFooter';
  import ThePreloader from "~/components/Preloader/ThePreloader";
    export default {
      name: "subs",
      components: {
        TheHeader,
        TheFooter,
        ThePreloader
      },
      data() {
        return {
          headerClass: 'sub'
        }
      },
      mounted() {
        if ( !this.$store.state.showPreloader ) return;
        setTimeout(() => {
          this.$store.commit('UNLOCK_PAGE');
        }, 3500)
      }
    }
</script>

<style>

</style>
