<template>
  <section class="about">
    <AboutIntro/>
    <AboutVision/>
    <AboutTeam/>
    <BaseForm
      :holder="global.pageAbout__form.holder"
      :action="global.pageAbout__form.action"
      :title="global.pageAbout__form.title"
      :desc="global.pageAbout__form.desc"
      :formFields="global.pageAbout__form.inputs"
      :btn="btn"
      :btnClass="btnClass"/>
  </section>
</template>

<script>
    import AboutIntro from "../components/About/AboutIntro";
    import AboutVision from "../components/About/AboutVision";
    import AboutTeam from "../components/About/AboutTeam";
    export default {
      layout: 'subs',
      name: "about",
      components: {AboutTeam, AboutVision, AboutIntro},
      data() {
        return {
          btnClass: 'sendBtn',
          btn: {
            color: '#fff',
            text: 'send',
            textColor: '#ea2066'
          }
        }
      },
      computed: {
        global() {
          return this.$store.state.pageData.pageAbout
        }
      }
    }
</script>

<style>

</style>
