<template>
  <div class="contacts">
    <section class="intro_contacts">
      <div class="container intro_contacts__wrap">
        <div class="intro_contacts__location">
          <BaseIntersectionObserver :animation="'fade-right'">
            <h1 class="intro_contacts__title uikit__h1">
              {{global.pageContacts__sectionIntro.title}}
            </h1>
          </BaseIntersectionObserver>
          <div class="intro_contacts__location-wrap">
            <div class="intro_contacts__location-col">
              <BaseIntersectionObserver :animation="'fade-right'" :delay="0.1">
                <h4 class="uikit__h4 intro_contacts__location-country">
                  {{global.pageContacts__sectionIntro.leftTitle}}
                </h4>
              </BaseIntersectionObserver>
              <BaseIntersectionObserver :animation="'fade-right'" :delay="0.2">
                <p class="uikit__p intro_contacts__location-address">
                  <span>
                    {{global.pageContacts__sectionIntro.leftText1}}
                  </span>
                    <span>
                    {{global.pageContacts__sectionIntro.leftText2}}
                  </span>
                    <span>
                    {{global.pageContacts__sectionIntro.leftText3}}
                  </span>
                </p>
              </BaseIntersectionObserver>
              <BaseIntersectionObserver :animation="'fade-right'" :delay="0.3">
                <div class="intro_contacts__location-entry">
                  <a :href="`mailto:${global.pageContacts__sectionIntro.mailUK}`"
                     class="intro_contacts__location-email uikit__p">
                    <span :data-hover="global.pageContacts__sectionIntro.mailUK">
                      {{global.pageContacts__sectionIntro.mailUK}}
                    </span>
                  </a>
                  <a :href="`tel:${global.pageContacts__sectionIntro.telUK}`"
                     class="intro_contacts__location-tel uikit__p">
                    <span :data-hover="global.pageContacts__sectionIntro.telUK">
                      {{global.pageContacts__sectionIntro.telUK}}
                    </span>
                  </a>
                </div>
              </BaseIntersectionObserver>
            </div>
            <div class="intro_contacts__location-col">
              <BaseIntersectionObserver :animation="'fade-right'" :delay="0.4">
                <h4 class="uikit__h4 intro_contacts__location-country">
                  {{global.pageContacts__sectionIntro.centerTitle}}
                </h4>
              </BaseIntersectionObserver>
              <BaseIntersectionObserver :animation="'fade-right'" :delay="0.5">
                <p class="uikit__p intro_contacts__location-address">
                <span>
                  {{global.pageContacts__sectionIntro.centerText1}}
                </span>
                  <span>
                  {{global.pageContacts__sectionIntro.centerText2}}
                </span>
                  <span>
                  {{global.pageContacts__sectionIntro.centerText3}}
                </span>
                </p>
              </BaseIntersectionObserver>
              <BaseIntersectionObserver :animation="'fade-right'" :delay="0.6">
                <div class="intro_contacts__location-entry">
                  <a :href="`mailto:${global.pageContacts__sectionIntro.mailDE}`"
                     class="intro_contacts__location-email uikit__p">
                    <span :data-hover="global.pageContacts__sectionIntro.mailDE">
                      {{global.pageContacts__sectionIntro.mailDE}}
                    </span>
                  </a>
                  <a :href="`tel:${global.pageContacts__sectionIntro.telDE}`"
                     class="intro_contacts__location-tel uikit__p">
                    <span :data-hover="global.pageContacts__sectionIntro.telDE">
                      {{global.pageContacts__sectionIntro.telDE}}
                    </span>
                  </a>
                </div>
              </BaseIntersectionObserver>
            </div>
            <div class="intro_contacts__location-col">
              <div class="intro_contacts__follow-wrap">
                <BaseIntersectionObserver :animation="'fade-right'" :delay="0.7">
                  <p class="uikit__p intro_contacts__follow" >
                    {{global.pageContacts__sectionIntro.rightTopText}}
                  </p>
                </BaseIntersectionObserver>
                <BaseIntersectionObserver :animation="'fade-right'" :delay="0.8">
                  <p class="uikit__p intro_contacts__follow">
                    {{global.pageContacts__sectionIntro.rightBottomText}}
                  </p>
                </BaseIntersectionObserver>

              </div>
            </div>
          </div>
        </div>
        <div class="intro_contacts__right-wrap">
          <BaseIntersectionObserver :animation="'fade-up'">
            <div class="intro_contacts__canvas">
            </div>
          </BaseIntersectionObserver>
        </div>
      </div>
    </section>
    <BaseForm
      :action="global.pageContacts__form.action"
      :title="global.pageContacts__form.title"
      :desc="global.pageContacts__form.desc"
      :formFields="global.pageContacts__form.inputs"
      :dropdownList="global.pageContacts__form.dropdownList"
      :dropdownInput="global.pageContacts__form.dropdownInput"
      :btn="btn"
      :btnClass="btnClass"
      :activeClass="'is-open'"/>
  </div>
</template>

<script>
  import Shapes from '~/assets/js/Shapes.js';
  import BaseInput from "../components/BaseComponents/BaseInput";
  import BaseForm from "../components/BaseComponents/BaseForm";
  import BaseIntersectionObserver from "../components/BaseComponents/BaseIntersectionObserver";

  export default {
    name: "contacts",
    components: {BaseIntersectionObserver, BaseForm, BaseInput},
    data() {
      return {
        btnClass: 'sendBtn',
        shapeEx: null,
        tl: null,
        btn: {
          color: '#ea2066',
          text: 'send',
          textColor: '#fff'
        }
      }
    },
    mounted() {
      this.shapeEx = new Shapes('.intro_contacts__canvas', {
        blocksColor: '#eee'
      });
    },
    beforeDestroy() {
      this.shapeEx = null;
    },
    computed: {
      global() {
        return this.$store.state.pageData.pageContacts
      }
    }
  }
</script>

<style lang="sass">

  @import '~/assets/sass/partials/_sass-for-components.sass';

  .intro_contacts
    width: 100%
    background: rgb(101, 66, 152)
    background: -moz-linear-gradient(-45deg, rgba(101, 66, 152, 1) 0%, rgba(225, 34, 103, 1) 100%)
    background: -webkit-linear-gradient(-45deg, rgba(101, 66, 152, 1) 0%, rgba(225, 34, 103, 1) 100%)
    background: linear-gradient(135deg, rgba(101, 66, 152, 1) 0%, rgba(225, 34, 103, 1) 100%)
    overflow: hidden
    &__wrap
      display: flex
    &__canvas
      position: absolute
      bottom: 0
      right: 0
      width: 100%
      height: 100%
      @media only screen and (max-width: 768px)
        right: -20%
        bottom: 26%
      +res('mob')
        width: 350px
        right: -25%
    &__title
      margin-bottom: 50px
      +res('mob')
        margin-bottom: 31px
    &__right-wrap
      max-width: 50%
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 100%
      +res('mob')
        max-width: none
    &__follow
      margin-bottom: 28px
      &:last-child
        margin-bottom: 0
      a
        color: #fff
    &__location
      padding: 220px 0 70px 0
      +res('mob')
        padding: 150px 0 40px 0
      &-wrap
        display: flex
        +res('tab')
          flex-wrap: wrap
        +res('mob')
          flex-wrap: wrap
      &-col
        margin-right: 120px
        position: relative
        z-index: 2
        &:nth-of-type(1)
          max-width: 420px
          +res('desk')
            max-width: 265px
        &:nth-of-type(2)
          max-width: 270px
          +res('desk')
            max-width: 220px
            margin-right: 215px
        &:last-child
          margin-right: 0
          display: flex
          align-items: flex-end
          max-width: 350px
          +res('tab')
            margin-top: 40px
        +res('tab')
          margin-right: 125px
          max-width: 269px
          &:nth-child(2)
            margin-right: 0
        +res('mob')
          margin-bottom: 40px
          margin-right: 0
          &:last-child
            margin-bottom: 0

      &-country
        margin-bottom: 25px
        +res('tab')
          margin-bottom: 30px
        +res('mob')
          margin-bottom: 15px
      &-address
        margin-bottom: 12px
        min-width: 270px
        +res('tab')
          margin-bottom: 15px
        +res('mob')
          margin-bottom: 15px
        span
          white-space: nowrap
          display: block
      &-entry
        display: flex
        flex-direction: column
        a
          white-space: nowrap
          text-decoration: none
          position: relative
          overflow: hidden
          line-height: 20px
          margin-bottom: 10px
          span
            position: relative
            transition: .3s
            display: inline-block
            &:before
              position: absolute
              top: 100%
              content: attr(data-hover)
              font-weight: 700
              transform: translate3d(0,0,0)
          +res('desk-min')
            &:hover
              span
                transform: translateY(-100%)
      &-email
        +res('mob')
          margin-bottom: 10px


</style>
