<template>
  <div class="home">
    <TheIntro/>
    <TheWeDo/>
    <TheServices/>
    <TheImpact/>
    <TheClients/>
    <TheReferences/>
    <BaseForm
      :holder="global.pageHome__form.holder"
      :action="global.pageHome__form.action"
      :title="global.pageHome__form.title"
      :desc="global.pageHome__form.desc"
      :formFields="global.pageHome__form.inputs"
      :btn="btn"
      :btnClass="btnClass"/>
  </div>
</template>

<script>
  import TheIntro from '~/components/Home/TheIntro';
  import TheWeDo from '~/components/Home/TheWeDo';
  import TheServices from '~/components/Home/TheServices';
  import TheImpact from '~/components/Home/TheImpact';
  import TheClients from '~/components/Home/TheClients';
  import TheReferences from "~/components/Home/TheReferences";
  import AnimationMixin from '~/assets/js/mixins/animation.js';
  import BaseForm from "../components/BaseComponents/BaseForm";

  export default {
    name: 'Home',
    data() {
      return {
        btnClass: 'sendBtn',
        shapeEx: null,
        tl: null,
        btn: {
          color: '#fff',
          text: 'send',
          textColor: '#ea2066'
        }
      }
    },
    components: {
      BaseForm,
      TheReferences,
      TheClients,
      TheIntro,
      TheWeDo,
      TheServices,
      TheImpact
    },
    computed: {
      global() {
        return this.$store.state.pageData.pageHome
      }
    }

  }
</script>

<style>
</style>
