@keyframes fadeUp
  0%
    transform: translateY(80px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1
@keyframes linesAmination
  0%
    transform: translateX(-120%)
  50%
    transform: translateX(0)
  99.999%
    transform: translateX(120%)
  100%
    transform: translateX(-120%)
