@mixin flex($direction: row, $wrap: nowrap, $justify: flex-start, $align: flex-start)
  display: flex
  flex-direction: $direction
  flex-wrap: $wrap
  justify-content: $justify
  align-items: $align
=font-face ($font-name, $file-name, $font-weight)
  @font-face
    font-family: quote($font-name)
    src: url("~/assets/fonts/"+ $file-name + ".eot");
    src: url("~/assets/fonts/"+ $file-name + ".eot?#iefix") format("embedded-opentype"),
    url("~/assets/fonts/"+ $file-name + ".woff") format("woff"),
    url("~/assets/fonts/"+ $file-name + ".ttf") format('truetype')
    font-weight: $font-weight
    font-style: normal
