<template>
  <section class="vision_about">
    <BaseIntersectionObserver>
      <div class="vision_about__img">
        <img :src="global.visionImg" alt="" class="vision_about__img-photo ">
      </div>
    </BaseIntersectionObserver>
    <div class="container vision_about__wrap">
      <div class="vision_about__col">
        <div class="vision_about__col-content">
          <BaseIntersectionObserver :animation="'fade-right'">
            <h2 class="vision_about__col-title uikit__h2">
              {{global.vision__title}}
            </h2>
          </BaseIntersectionObserver>
          <BaseIntersectionObserver :animation="'fade-right'">
            <p class="vision_about__col-description uikit__p">
              {{global.vision__desc0}}
            </p>
          </BaseIntersectionObserver>
          <BaseIntersectionObserver :animation="'fade-right'">
            <p class="vision_about__col-description uikit__p" v-if="global.vision__desc1">
              {{global.vision__desc1}}
            </p>
          </BaseIntersectionObserver>
          <BaseIntersectionObserver :animation="'fade-right'">
            <p class="vision_about__col-description uikit__p" v-if="global.vision__desc2">
              {{global.vision__desc2}}
            </p>
          </BaseIntersectionObserver>
        </div>
      </div>

    </div>
  </section>
</template>

<script>
    import BaseIntersectionObserver from "../BaseComponents/BaseIntersectionObserver";
    export default {
      name: "AboutVision",
      components: {BaseIntersectionObserver},
      computed: {
        global(){
          return this.$store.state.pageData.pageAbout.pageAbout__vision
        }
      }
    }
</script>

<style lang="sass">
  @import '~/assets/sass/partials/_sass-for-components.sass';
  .vision_about
    background-color: #fff
    position: relative
    width: 100%
    &__img
      max-width: 50%
      position: absolute
      width: 100%
      height: 100%
      top: 0
      right: 0
      img
        height: 100%
        object-fit: cover
        font-family: 'object-fit: cover'
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: .5
        background: rgb(101,66,152)
        background: -moz-linear-gradient(-45deg, rgba(101,66,152,1) 0%, rgba(225,34,103,1) 100%)
        background: -webkit-linear-gradient(-45deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
        background: linear-gradient(135deg, rgba(101,66,152,1) 0%,rgba(225,34,103,1) 100%)
      +res('mob')
        position: relative
        max-width: none
        height: 320px
      &-foto
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 0 0
        font-family: "object-fit: cover; object-position: 0 0;"
        +res('tab')
          object-position: 35% 0
    &__wrap
      display: flex
    &__col
      height: 100%
      max-width: 50%
      width: 100%
      position: relative
      +res('mob')
        max-width: none
      &-content
        max-width: 387px
        padding: 120px 0
        +res('tab')
          max-width: 311px
        +res('mob')
          padding: 40px 0
      &-title
        color: #171617
        margin-bottom: 40px
        +res('mob')
          margin-bottom: 25px
      &-description
        color: #171617
        margin-bottom: 25px
        &:last-child
          margin-bottom: 0
  .product
    .vision_about
      +res('mob')
        display: flex
        flex-direction: column-reverse

      &__img
        left: 0
      &__wrap
        justify-content: flex-end
      &__col
        padding-left: 115px
        +res('tab')
          padding-left: 60px
        +res('mob')
          padding-left: 0

</style>
