<template>
  <div class="intro_about">
    <BaseIntersectionObserver :animation="'fade-up'">
      <div class="canvas-wrapper-about"></div>
    </BaseIntersectionObserver>

    <div class="container intro_about__wrap">
      <BaseIntersectionObserver :animation="'fade-right'">
        <h4 class="uikit__h4 intro_about__uppertitle">
          {{global.intro__uppertitle}}
        </h4>
      </BaseIntersectionObserver>
      <BaseIntersectionObserver :animation="'fade-right'" :delay="0.2">
        <h1 class="uikit__h1 intro_about__title">
          {{global.intro__title}}
        </h1>
      </BaseIntersectionObserver>

      <div class="intro_about__col">
        <div class="intro_about__col-content">
          <BaseIntersectionObserver :animation="'fade-right'" :delay="0.3">
            <h2 class="intro_about__col-title uikit__h2">
              {{global.intro__col_title0}}
            </h2>
          </BaseIntersectionObserver>
          <BaseIntersectionObserver :animation="'fade-right'" :delay="0.4">
            <p class="intro_about__col-description uikit__p" v-if="global.intro__col_description0">
              {{global.intro__col_description0}}
            </p>
          </BaseIntersectionObserver>
          <BaseIntersectionObserver :animation="'fade-right'" :delay="0.5">
            <p class="intro_about__col-description uikit__p" v-if="global.intro__col_description1">
              {{global.intro__col_description1}}
            </p>
          </BaseIntersectionObserver>
          <BaseIntersectionObserver :animation="'fade-right'" :delay="0.6">
            <p class="intro_about__col-description uikit__p" v-if="global.intro__col_description2">
              {{global.intro__col_description2}}
            </p>
          </BaseIntersectionObserver>

        </div>
      </div>
      <div class="intro_about__col">
        <div class="intro_about__col-content">
          <BaseIntersectionObserver :animation="'fade-right'">
            <h2 class="intro_about__col-title uikit__h2">
              {{global.intro__col_title1}}
            </h2>
          </BaseIntersectionObserver>
          <BaseIntersectionObserver :animation="'fade-right'">
            <p class="intro_about__col-description uikit__p">
              {{global.intro__col_description3}}
            </p>
          </BaseIntersectionObserver>
          <BaseIntersectionObserver :animation="'fade-right'">
            <p class="intro_about__col-description uikit__p">
              {{global.intro__col_description4}}
            </p>
          </BaseIntersectionObserver>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import AboutShapes from '~/assets/js/AboutShapes.js';
    import BaseIntersectionObserver from "../BaseComponents/BaseIntersectionObserver";
    export default {
      name: "AboutIntro",
      components: {BaseIntersectionObserver},
      data() {
        return {
          shapeEx: null
        }
      },
      computed: {
        global() {
          return this.$store.state.pageData.pageAbout.pageAbout__intro
        }
      },
      mounted() {
        if (window.innerWidth > 1199) {
          this.shapeEx = new AboutShapes('.canvas-wrapper-about')
        }
      },
      beforeDestroy() {
        this.shapeEx.removeEventListeners();
        this.shapeEx = null
      }
    }
</script>

<style lang="sass">
  @import '~/assets/sass/partials/_sass-for-components.sass';
  .intro_about
    background-image: linear-gradient(260deg, #d9e8e7, #ffffff)
    padding: 225px 0 0 0
    position: relative
    .canvas-wrapper-about
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 415px
      +res('tab')
        background-image: url('/img/about/about_768.png')
        background-size: contain
        background-repeat: no-repeat
        background-position: 50% 30%
      +res('mob')
        background-image: url('/img/about/about_320.png')
        background-size: contain
        background-repeat: no-repeat
        background-position: 50% 0

    +res('mob')
      padding: 150px 0 36px 0
    &__uppertitle
      color: #171617
      margin-bottom: 20px
      +res('mob')
        margin-bottom: 20px
    &__title
      color: #171617
      max-width: 65%
      line-height: 62px
      margin-bottom: 100px
      +res('tab')
        margin-bottom: 78px
        max-width: 84%
      +res('mob')
        max-width: none
        margin-bottom: 25px

    &__col
      display: flex
      margin-bottom: 85px
      &:last-child
        margin-bottom: 0
      &:nth-child(even)
        justify-content: flex-end
      &-content
        max-width: 387px
        padding-bottom: 118px
        +res('tab')
          max-width: 315px
        +res('mob')
          max-width: none
          padding-bottom: 0
      &-title
        margin-bottom: 30px
        +res('mob')
          margin-bottom: 23px
      &-description
        color: #171617
        margin-bottom: 12px
        &:last-child
          margin-bottom: 0
        +res('tab')
          margin-bottom: 15px
        +res('mob')
          margin-bottom: 15px
</style>
