<template>
  <section class="team_about">
    <div class="container team_about__wrap">
      <BaseIntersectionObserver :animation="'fade-right'">
        <h2 class="uikit__h2 team_about__title">
          {{global.title}}
        </h2>
      </BaseIntersectionObserver>

      <div class="team_about__team">
        <div class="team_about__col" v-for="(item, id) in global.team" :key="id">
          <BaseIntersectionObserver :animation="'fade-right'" :delay="id/10">
            <div class="team_about__col-content">
              <h4 class="uikit__h4 team_about__col-name">
                {{item.name}}
              </h4>
              <p class="uikit__p team_about__col-position">
                {{item.position}}
              </p>
              <p class="uikit__p team_about__col-description">
                {{item.desc}}
              </p>
            </div>
          </BaseIntersectionObserver>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import BaseIntersectionObserver from "../BaseComponents/BaseIntersectionObserver";
    export default {
      name: "AboutTeam",
      components: {BaseIntersectionObserver},
      computed: {
        global() {
          return this.$store.state.pageData.pageAbout.pageAbout__team
        }
      }
    }
</script>

<style lang="sass">
@import '~/assets/sass/partials/_sass-for-components.sass';
.team_about
  padding: 120px 0
  background-image: linear-gradient(260deg, #ced9d9, #d9e8e7 27%, #ffffff)
  position: relative
  @media only screen and (max-width: 768px)
    padding: 80px 0 30px 0
  +res('mob')
    padding: 40px 0 0 0
  &__title
    margin-bottom: 39px
  &__team
    width: 100%
    display: flex
    justify-content: space-between
    @media only screen and (max-width: 768px)
      flex-wrap: wrap
  &__col
    border-right: 1px solid #fff
    width: 100%
    padding-left: 36px
    &:first-child
      padding-left: 0
    &:last-child
      border-right: 0
    @media only screen and (max-width: 768px)
      width: auto
      margin-bottom: 48px
      padding: 0 48px 0 0
      &:nth-child(even)
        border: 0
        margin-bottom: 0
    +res('mob')
      padding: 0 0 25px 0
      margin: 0 0 30px 0
      border-bottom: 1px solid #fff
      border-right: 0
      width: 100%
      &:nth-child(even)
        border-bottom: 1px solid #fff
        margin: 0 0 30px 0
      &:last-child
        margin-bottom: 0


    &-content
      max-width: 237px
      @media only screen and (max-width: 768px)
        max-width: 306px
      +res('mob')
        max-width: none
    &-name
      color: #171617
      margin-bottom: 5px
    &-position
      color: #171617
      font-size: 13px
      line-height: 20px
      margin-bottom: 18px
    &-description
      color: #171617
</style>
